<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nano-tunnel</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

      body {
        margin: 0;
        font-family: "Inter", sans-serif;
        display: flex;
        height: 100vh;
        background-color: #f1f5f9;
      }
    </style>

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="left-panel">
      <div class="logo">
        <div class="logo-icon">NT</div>
        nano-tunnel
      </div>

      <h2>Configuration</h2>

      <label>Client ID</label>
      <input type="text" id="clientId" placeholder="client-123" />
      <div id="clientIdError" class="error"></div>
      <div class="row" style="margin-top: 18px">
        <div class="half">
          <label>Path</label>
          <input type="text" id="path" placeholder="/api/v1/example" />
          <div id="pathError" class="error"></div>
        </div>
      </div>
      <div class="row" style="margin-top: 18px">
        <div class="half">
          <label>Port</label>
          <input type="number" id="port" placeholder="8080" />
          <div id="portError" class="error"></div>
        </div>

        <div class="half">
          <label>Method</label>
          <select id="method">
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
          </select>
        </div>
      </div>

      <h3
        style="
          margin-top: 25px;
          margin-bottom: 10px;
          color: #1e293b;
          font-size: 16px;
        "
      >
        Headers
      </h3>

      <div id="headersContainer"></div>
      <button id="addHeaderBtn">+ Add Header</button>

      <label>Payload (JSON)</label>
      <textarea id="payload" rows="6" placeholder='{"msg":"Hello"}'></textarea>
      <div id="payloadError" class="error"></div>

      <div class="buttons">
        <button class="primary-btn" id="startBtn">Start Tunnel</button>
        <button class="secondary-btn" id="clearBtn">Clear</button>
      </div>
    </div>

    <div class="right-panel">
      <h2 class="response-header-text">Response</h2>

      <div class="response-content">
        <pre id="jsonResponse">
{
  "message": "Send a request to your connected local client"
}</pre
        >
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
